<%-layout("layouts/boilerplate.ejs")%>
    <%title="Backend Revision"%>
        <%css="home.css"%>


                <div class="messages">
                    <%for(chat of chats){%>
                        <div class="card">
                            <div class="card-text">From : <%=chat.from%>
                            </div>
                            <div class="card-text">To : <%=chat.to%>
                            </div>
                            <textarea name="" id=""><%=chat.message%></textarea>
                            <div class="card-text">
                                <%=chat.created_at%>
                            </div>
                            <form action="/whatsapp/<%=chat._id%>" method="get">
                                <button>Show</button>
                            </form>
                            
                        </div>
                        <%}%>
                </div>
            </body>